@import "tailwindcss";

:root {
  --accent: #dfff00;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #070707;
  color: white;
}

::selection {
  background: var(--accent);
  color: black;
}