@import "tailwindcss";

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Regular.otf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Semibold.otf")
    format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay-Bold.otf")
    format("opentype");
  font-weight: 700;
}

.hero-name {
  font-family: "ClashDisplay", sans-serif;
  letter-spacing: -0.05em;
}

:root {
  --accent: #dfff00;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top,
      rgba(223,255,0,0.04),
      transparent 40%
    ),
    #070707;
  color: white;
  position: relative;
}

::selection {
  background: var(--accent);
  color: black;
}

main,
section,
nav,
footer {
  position: relative;
  z-index: 1;
}

.project-card,
.repo-card,
.blog-card {
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
}

.project-card:hover,
.repo-card:hover,
.blog-card:hover {
  transform: translateY(-8px);
}

a {
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
}

a:hover {
  text-shadow:
    0 0 12px rgba(223,255,0,0.4);
}

.blog-card {
  transition:
    transform 0.35s ease,
    border-color 0.35s ease,
    box-shadow 0.35s ease;
}

.blog-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 0 30px rgba(223,255,0,0.08);
}

.project-card,
.blog-card,
.repo-card {
  height: 100%;
}